In [10]:
print("노트북으로 셀 단위로 화인")

노트북으로 셀 단위로 화인

In [11]:
print("작업중")

작업중

In [12]:
a=int(10.3)
print(a)
b=float(a)
print(b)

10
10.0

In [14]:
x = str(123)
print(x)
print(type(x))

123
<class 'str'>

In [17]:
print(1 == True)
print("" == False)

True
False

In [22]:
a = '76.3'
b = float(a)
c = 2.3
print(c+b)
print(type(a))
print(type(b))
print(type(c))

78.6

In [24]:
# 출력 방식
a.extend(b)
# 1. % 연산자 방식
name = "지성"
age = 24
print("이름 : %s, 나이 : %d" % (name , age))

이름 : 지성, 나이 : 24

In [26]:
# f-string 형식(python 3.6 권장)
name = "지성"
age = 24
print(f"이름 : {name} , 나이 : {age}")

이름 : 지성 , 나이 : 24

In [34]:
print("오늘 점심 뭐 먹지")
lunch = input()
print(f"오늘 먹을 점심 메뉴 : {lunch}")

오늘 점심 뭐 먹지
오늘 먹을 점심 메뉴 : ㅇㄴㄹ

In [46]:

lunch = input("오늘 점심 뭐 먹지?")
print(f"오늘 먹을 점심 메뉴 : {lunch}")

오늘 먹을 점심 메뉴 : 1

In [44]:
a = [1,2,3]
b = [4,5,6]
print(a)
print(b)
print(a[0:2])
print(b[-2:0])
a.append(100)
print(a)
print(a)
print(c)

[1, 2, 3]
[4, 5, 6]
[1, 2]
[]
[1, 2, 3, 100]
[1, 2, 3, 100, 4, 5, 6]
[1, 2, 3, 100, 4, 5, 6]